#!/bin/bash

# Quick environment variable helpers for artifactory-codeartifact-migrator
# Run: . ./env.sh

export ARTIFACTORY_HOST='artifactory.mydomain.net'
export ARTIFACTORY_HOST_PREFIX='artifactory'
export ARTIFACTORY_USERNAME='username'
export ARTIFACTORY_PASSWORD='pass_or_apikey'
export CODEARTIFACT_DOMAIN='domain'
export CODEARTIFACT_ACCOUNT='accountid'
export CODEARTIFACT_REGION='region'
#export ARTIFACTORY_REPOSITORIES='libs-maven-local'
#export ARTIFACTORY_PACKAGES='com/domain/mypackage:3.1.4'
#export ACM_OUTPUT='./artifactory-codeartifact-migrator.log'
export ACM_DRYRUN='true'
export ACM_VERBOSE='true'
#export ACM_DEBUG='true'
export ACM_CACHE='true'
# export ACM_REFRESH='true'
# export ACM_CLEAN='true'
# export ACM_PROCS='8'
export ACM_DYNAMODB='true'
